.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #020080;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #003DAB;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #C3C304;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.centered {
    font-size: 90px;
    opacity: 1.0;
}

td, th {
    border: 1px solid #dddddd;
    direction: rtl;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p {
    font-family: Calibri, Calibri, aboutMeP;
    font-weight: normal;
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
}


.contents {
    background: rgba(221, 221, 221, 0.4588235294117647);
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,246,255,1) 24%, rgba(0,31,255,1) 50%, rgba(0,246,255,1) 90%,rgba(0,31,255,1) 100%);*/
    width: 75%;
    padding: 40px;
    margin: 100px auto;
    font-family: Calibri;
    border-radius: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
}


.centerDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25%;
    margin: 0 auto;
}

#restartStrong {
    font-size: 25px;
}

/*buttom*/
input[type=button] {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f4), color-stop(1, #dededd) );
    background: -moz-linear-gradient( center top, #f5f5f4 5%, #dededd 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f4', endColorstr='#dededd');
    border: 1px solid #cdcdc6;
    background-color: #dbdbdb;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    color: #636360 !important;
    font-size: 15px;
    font-family: Calibri;
    font-weight: normal;
    padding: 6px 24px;
    text-decoration: none;
}


    input[type=button]:hover {
        color: #5778F3;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }


.button {
    padding: 10px 20px;
    border-radius: 61px;
    box-shadow: inset 0 0 0 2px #474E51;
    transition: 300ms box-shadow cubic-bezier(0.4, 0, 0.6, 1), 300ms background-color cubic-bezier(0.4, 0, 0.6, 1), 300ms color cubic-bezier(0.4, 0, 0.6, 1);  ;
    color: #474E51;
    font-family: Calibri;
}

    .button:hover {
        box-shadow: inset 0 0 0 4px #5778F3;
        color: #5778F3;
    }


img {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 2px;
}



